.month-row{
 display: inline-flex;
 justify-content: center;
}

.main-title{
  text-align: center;
}


.day-cell{
  padding: 15px;
  background: linear-gradient( lightgray,white);
  border: 1px solid white;
  cursor: pointer;
  font-size:17px;
  color: black;
  opacity:0.9;

}

.month-name{
  text-align: center;
  padding:10px;
  font-size:26px;
  width:70px;
  opacity:0.7;
  background: linear-gradient(10deg, white, lightcyan);
}

.weekend{
  background:linear-gradient(10deg, lightgray, aquamarine);
}
.vacation {
  background:linear-gradient(10deg, lightgray,yellow);
}
.sickness {
  background:linear-gradient(10deg, lightgray, greenyellow) ;

}

.container{

  width: 500px;
  margin-top:10px;
}
::ng-deep .cdk-overlay-container{ z-index:2000; }

.calendar-container{
  margin: 0 auto;
}
h1{
  margin: 30px 0 30px;
  color: black;
  font-size:40px;
  opacity:0.7;
  text-align: center;
}

.modal-title{
  text-align: center;
}

.modal-body{
 display: flex;
 justify-content: center;
}
.edit-control-button{
  opacity: 0.7;
  padding: 20px 10px 5px;
  border:none;
  width: 80px;
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
}
.edit-save-btn{
  background:linear-gradient(10deg, lightgray, aquamarine);
}
.edit-remove-btn{
  background:linear-gradient(10deg, lightgray, lightcoral);
}
.hidden{
  display: none;
}
