<h1 class="main-title">{{ title.toUpperCase() }}</h1>
<p></p>
<div *ngFor="let month of monthList">
  <div class="month-row">
    <div class="month-name">{{ month[0].monthNaming }}</div>
    <div *ngFor="let day of month">
      <div (click)="cellClick()" class="day-cell" [ngClass]="{ weekend: day.isweekend,vacation: vacationArr.includes(day.date),sickness: sicknessArr.includes(day.date)  }">
        {{ day.day  }}
      </div>
    </div>
  </div>
</div>
<button (click)="logStore()">LogStore</button>

<app-popout *ngIf="popoutView"></app-popout>






<router-outlet ></router-outlet>
